/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
/* fine reset */

/* stile main content */
.products-list{
  margin-left: 5px;
  margin-top: 5px;
}
.products-row{
  list-style-type: none;
  margin-bottom: 50px;
}
.single-product{
  display: inline-block;
  position: relative;
}
.sale-green, .sale-red{
  position: absolute;
  top: 0px;
  left: 260px;
  }
.sale-green{
  background-color: green;
}
.sale-red{
  background-color: red;
  left:270px;
}
.heart{
  font-size: 25px;
  position: absolute;
  bottom: 15px;
  left: 150px;
  color: red;
  display: none;
}
.products-row .single-product:hover .heart{
  display: block;
}
/* fine stile main content */
